/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
    padding: 20px;
}

/* Estilos del menú de navegación */
nav ul {
    list-style: none;
    background-color: #0073e6;
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Estilos de secciones */
section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

h1, h2 {
    color: #0073e6;
}

img {
    border-radius: 10px;
}

/* Estilos del formulario */
form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
